module.exports = `
  <div class="container history" id="{{id}}">
    <div class="meta">
      <div class="segment">
        <span class="time">{{#toLocaleTime meta.requestedAt}}{{/toLocaleTime}}</span>

        {{#if snapshot.error}}
          <span class="error">
            {{#compare snapshot.error.code.length 'lte' 24}}{{snapshot.error.code}}{{/compare}}
            {{#compare snapshot.error.code.length 'gt' 24}}Error{{/compare}}
          </span>
        {{/if}}

        {{#compare status 'eq' 'pending'}}
          <span class="pending"><i class="fas fa-hourglass-start"></i></span>
        {{/compare}}

        {{#compare status 'eq' 'completed'}}
          <span class="status
            {{#compare snapshot.transport 'eq' 'http'}}
              {{#compare snapshot.outgoing.status 'lt' 400}}green{{/compare}}
              {{#compare snapshot.outgoing.status 'gte' 400}}red{{/compare}}
            {{/compare}}
          ">{{snapshot.outgoing.status}}</span>
        {{/compare}}

        <span class="transport">{{snapshot.transport}}</span>
        <span class="method">{{snapshot.incoming.method}}</span>
        <span class="path">{{snapshot.incoming.path}}</span>
      </div>

      <span class="arrow"><i class="fas fa-chevron-right"></i></span>

      {{#if expectation}}
        {{#if snapshot.seed}}<span class="seed">{{snapshot.seed}}</span>{{/if}}
        {{#if snapshot.forwarded.isCached}}<span class="cache">Cached</span>{{/if}}

        <div class="segment">{{>expectationMeta expectation format='short'}}</div>
      {{else}}
        <span class="handled-with red">Nowhere</span>
      {{/if}}
    </div>

    {{!-- {{#if snapshot.messages}}
      <p class="messages-title">
        <span class="count">Total messages <b>{{snapshot.messages.length}}</b></span>
      </p>

      <div class="messages">
        {{#each snapshot.messages}}
          <div id="{{id}}" class="message {{location}}">
            <p class="header">
              {{#compare location 'eq' 'incoming'}}<i class="fas fa-angle-right"></i>{{/compare}}
              {{#compare location 'eq' 'outgoing'}}<i class="fas fa-angle-left"></i>{{/compare}}
              <span class="time">{{#toLocaleTime timestamp}}{{/toLocaleTime}}</span>
            </p>

            <pre class="panel hidden"></pre>
          </div>
        {{/each}}
      </div>
    {{/if}} --}}

    <pre class="panel hidden"></pre>
  </div>
`
