export default `
  <div class="container history" id="{{data.id}}">
    <div class="meta">
      <div class="segment">
        <span class="time">{{#toLocaleTime data.timestamp}}{{/toLocaleTime}}</span>

        {{#if data.snapshot.error}}
          <span class="error">
            {{#compare data.snapshot.error.code.length 'lte' 24}}{{data.snapshot.error.code}}{{/compare}}
            {{#compare data.snapshot.error.code.length 'gt' 24}}Error{{/compare}}
          </span>
        {{/if}}

        {{#compare data.status 'eq' 'pending'}}
          <span class="pending"><i class="fas fa-hourglass-start"></i></span>
        {{/compare}}

        {{#compare data.status 'eq' 'completed'}}
          <span class="status
            {{#compare data.snapshot.transport 'eq' 'http'}}
              {{#compare data.snapshot.outgoing.status 'lt' 400}}green{{/compare}}
              {{#compare data.snapshot.outgoing.status 'gte' 400}}red{{/compare}}
            {{/compare}}
          "><b>{{data.snapshot.outgoing.status}}</b> {{toSeconds data.duration}}s</span>
        {{/compare}}

        <span class="method" style="color: {{toColor data.snapshot.incoming.method}};">{{data.snapshot.incoming.method}}</span>
        {{> metaPath value=data.snapshot.incoming.path size=options.pathSize}}

        {{#if data.snapshot.seed}}<span class="seed">{{data.snapshot.seed}}</span>{{/if}}
      </div>

      <span class="arrow"><i class="fas fa-chevron-right"></i></span>

      {{#if data.expectation}}
        {{>expectationMeta options data=data.expectation format='short'}}
      {{else}}
        <div class="segment"><span class="handled-with red">Nowhere</span></div>
      {{/if}}

      <div class="segment">
        {{#if data.snapshot.cache.hasWritten}}<span class="cache written"><i class="fas fa-database"></i></span>{{/if}}
        {{#if data.snapshot.cache.hasRead}}<span class="cache read"><i class="fas fa-database"></i></span>{{/if}}
      </div>
    </div>

    {{!-- {{#if snapshot.messages}}
      <p class="messages-title">
        <span class="count">Total messages <b>{{snapshot.messages.length}}</b></span>
      </p>

      <div class="messages">
        {{#each snapshot.messages}}
          <div id="{{id}}" class="message {{location}}">
            <p class="header">
              {{#compare location 'eq' 'incoming'}}<i class="fas fa-angle-right"></i>{{/compare}}
              {{#compare location 'eq' 'outgoing'}}<i class="fas fa-angle-left"></i>{{/compare}}
              <span class="time">{{#toLocaleTime timestamp}}{{/toLocaleTime}}</span>
            </p>

            <pre class="panel hidden"></pre>
          </div>
        {{/each}}
      </div>
    {{/if}} --}}
  </div>
`
