export default `
  <div class="panel {{class}} {{#if width}}width-{{width}}{{/if}} {{#if height}}height-{{height}}{{/if}}">
    {{#if title}}
      <p class="title">
        {{#if title.icon}}<i class="{{title.icon}}"></i>{{/if}}
        <span class="title">{{{title.text}}}</span>
        {{#if title.description}}<span class="description">{{{title.description}}}</span>{{/if}}
      </p>
    {{/if}}

    <div class="content"></div>
  </div>
`
