export default `
  <div class="container history" id="{{data.id}}">
    <div class="meta">
      <div class="segment">
        <span class="time">{{#toLocaleTime data.timestamp}}{{/toLocaleTime}}</span>

        {{#if data.meta.tags.error}}
          <span class="error">
            {{#compare data.meta.tags.error.code.length 'lte' 24}}{{data.meta.tags.error.code}}{{/compare}}
            {{#compare data.meta.tags.error.code.length 'gt' 24}}Error{{/compare}}
          </span>
        {{/if}}

        {{#compare data.status 'eq' 'pending'}}
          <span class="pending"><i class="fas fa-hourglass-start"></i></span>
        {{/compare}}

        {{#compare data.status 'eq' 'completed'}}
          {{#unless data.meta.tags.error}}
            <span class="status
              {{#compare data.meta.tags.transport 'eq' 'http'}}
                {{#compare data.meta.tags.outgoing.status 'lt' 400}}green{{/compare}}
                {{#compare data.meta.tags.outgoing.status 'gte' 400}}red{{/compare}}
              {{/compare}}
            "><b>{{data.meta.tags.outgoing.status}}</b> {{toSeconds data.meta.metrics.duration}}s</span>
          {{/unless}}
        {{/compare}}

        <span class="method" style="color: {{toColor data.meta.tags.incoming.method 'method'}};">
          {{data.meta.tags.incoming.method}}
        </span>

        {{> metaPath value=data.meta.tags.incoming.path size=options.pathSize}}
        {{#if data.meta.tags.seed}}<span class="seed">{{data.meta.tags.seed}}</span>{{/if}}
      </div>

      {{#if data.expectation}}
        {{>expectationMeta options data=data.expectation format='short'}}
      {{else}}
        <div class="segment"><span class="handled-with red">Nowhere</span></div>
      {{/if}}

      <div class="segment">
        {{#if data.meta.tags.cache.hasWritten}}<span class="cache written"><i class="fas fa-database"></i></span>{{/if}}
        {{#if data.meta.tags.cache.hasRead}}<span class="cache read"><i class="fas fa-database"></i></span>{{/if}}
      </div>
    </div>

    {{!-- {{#if snapshot.messages}}
      <p class="messages-title">
        <span class="count">Total messages <b>{{snapshot.messages.length}}</b></span>
      </p>

      <div class="messages">
        {{#each snapshot.messages}}
          <div id="{{id}}" class="message {{location}}">
            <p class="header">
              {{#compare location 'eq' 'incoming'}}<i class="fas fa-angle-right"></i>{{/compare}}
              {{#compare location 'eq' 'outgoing'}}<i class="fas fa-angle-left"></i>{{/compare}}
              <span class="time">{{#toLocaleTime timestamp}}{{/toLocaleTime}}</span>
            </p>

            <pre class="panel hidden"></pre>
          </div>
        {{/each}}
      </div>
    {{/if}} --}}
  </div>
`
